<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Eric-Myget" value="https://www.myget.org/F/eric-green/api/v3/index.json" />
    <add key="RabbitMQ" value="https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci" />
    <add key="TwentyTwenty.DomainDriven" value="https://ci.appveyor.com/nuget/twentytwenty-domaindriven-rknb11tr3fhg" />
  </packageSources>
</configuration>